nav {
    padding: 2rem;

    border-radius: 0;
    background-color: #34434b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24);
}

#nav-dropdown {
    color: #fff;
}

.dropdown-menu {
    border-radius: 0;
}